.popup__submit-button {
  width: 358px;
  height: 50px;
  color: #fff;
  background-color: #000;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  cursor: pointer;
  transition: opacity 0.3s linear;
  margin: 43px 36px 0;
  padding: 0;
  border: none;
}

.popup button:hover {
  opacity: 0.8;
}
