.profile__add-button {
    width: 282px;
    height: 50px;
    border: 2px solid #FFF;
    background-color: #000;
    background-image: url("../../../images/profile-add-button.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 16px;
    margin-top: 19px;
    margin-right: 0;
    transition: opacity 0.3s linear;
  }

  @media screen and (min-width: 1024px) {
    .profile__add-button {
      width: 150px;
      height: 50px;
      margin-left: 244px;
      margin-top: 2px;
      background-size: 22px;
      margin-right: 0;
  }
  }

  .profile__add-button:hover {
    opacity: 0.6;
  }
