.photo__like {
  width: 22px;
  height: 19px;
  object-fit: cover;
  margin-right: 5px;
  border: none;
  background-color: #fff;
  box-sizing: border-box;
  transition: opacity 0.3 liner;
}

.photo__like:hover {
  opacity: 0.6;
}


