.photos {
  max-width: calc(100% - 19px * 2);
  margin: 36px auto;
}

@media screen and (min-width: 550px) {
  .photos {
    max-width: calc(100% - 50px * 2);
}
}


@media screen and (min-width: 1280px) {
  .photos {
    max-width: calc(100% - 200px * 2);
    margin: 50px auto;
}
}
