.popup__item {
  box-sizing: border-box;
  width: 358px;
  height: 27px;
  color:black;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  border:none;
  border-bottom: 1px solid #000;
  row-gap: 30px;
  margin-left: 36px;
}
