.photo {
  list-style: none;
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-columns: repeat(auto-fit, minmax(282px, 1fr));
  grid-gap: 20px 10px;
  padding: 0;
  margin: 0;
}

@media screen and (min-width: 780px) {
  .photo {
    grid-column-gap: 18px;
}
}

@media screen and (min-width: 1024px) {
  .photo {
    gap: 20px 12px;
    grid-template-columns: repeat(3, minmax(282px, 1fr));
}
}

@media screen and (min-width: 1280px) {
  .photo {
    gap: 20px 17px;
}
}
